- project_previous = project.article_next
- project_next = project.article_previous

%footer.controls-wrapper
  .container
    .controls
      .control.control--previous
        - if project_previous
          = link_to project_previous.url, class: "control-link" do
            = material_icon("arrow_back", "control-link__icon")
            %span.control-link__label= project_previous.title
            .control-link__background{ style: "background: #{project_previous.data.color}" }

      .control.control--home
        = link_to "/", class: "control-link" do
          = material_icon("menu", "")

      .control.control--next
        - if project_next
          = link_to project_next.url, class: "control-link" do
            %span.control-link__label= project_next.title
            = material_icon("arrow_forward", "control-link__icon")
            .control-link__background{ style: "background: #{project_next.data.color}" }
